<mat-card class="example-card" appearance="outlined">
    <mat-card-header class="card-header">
      <mat-card-title class="title" select="[card-title]">
        <ng-content></ng-content>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p class="descricao">
        <ng-content select="[card-content]"></ng-content>
      </p>
    </mat-card-content>
  </mat-card>
  