.carrossel{
    display:grid;
    grid-auto-flow: column;
    gap:1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}   

.card{
    scroll-snap-align: center;
}

.container{
    display: flex;
}