.content-container{
    display: flex;
    max-width: 100%;
    width: 100%;
}

.title{
    font-family: 'Poppins', sans-serif;

    font-size: 30px;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar{
justify-content: center;
align-items: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}